apiVersion: v2
name: kimai2
description: A Helm chart for Kubernetes
type: application
version: 1.4.7
appVersion: "apache-1.27.0-prod"

dependencies:
  - name: common
    version: 1.x.x
    repository: https://charts.bitnami.com/bitnami
  - name: mariadb
    repository: https://charts.bitnami.com/bitnami
    version: 10.x.x
    condition: mariadb.enabled
