apiVersion: v2
name: kimai2
description: A Helm chart for Kubernetes
type: application
version: 2.0.4
appVersion: "apache-1.30.11-prod"

dependencies:
  - name: common
    version: 1.x.x
    repository: https://charts.bitnami.com/bitnami
  - name: mariadb
    repository: https://charts.bitnami.com/bitnami
    version: 11.x.x
    condition: mariadb.enabled
