apiVersion: v2
name: kimai2
description: A Helm chart for Kubernetes
type: application
version: 5.0.5
appVersion: "apache-2.48.0"

dependencies:
  - condition: mariadb.enabled
    name: mariadb
    repository: oci://registry-1.docker.io/bitnamicharts
    version: 24.0.4
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    tags:
      - bitnami-common
    version: 2.21.0
